body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leBleu {
  color: #1976d2;
}

/* for debugging purposes */
/* * {
  outline: 1px solid red;
} */

#root {
  display: flex;
  flex-direction: column;
  /* background-color: DodgerBlue; */
  height: 100%;
  width: 100%;
}

.appHeader {
  padding-top: 20px;
  height: 20%;
  /* One-third of the parent's width (viewport width) */
  /* width: 100%; */
  /* background-color: #e74c3c; */
  text-align: center;
  /* Color for the child div */
}

.appBody {
  padding: 30px;
  height: 65%;
  /* width: 100%; */
  /* background-color: yellow; */
  overflow-x: scroll;
}

.appMenu {
  height: 15%;
  /* One-third of the parent's width (viewport width) */
  /* width: 100%; */
  /* background-color: green; */
  /* Color for the child div */
}


.App {
  text-align: center;
}

/* 
.App-About {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
} */

.bodyComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
}

.menuComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

/* .App-Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 30vh;
} */

/* .App-link {
  color: #61dafb;
} */

/* .spreadSheetImg {
  width: 100%;
  max-width: 350px;
  height: 300px;
  object-fit: cover;
} */