body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.leBleu {
  color: #1976d2;
}

/* for debugging purposes */
/* * {
  outline: 1px solid red;
} */

#root {
  display: flex;
  flex-direction: column;
  /* background-color: DodgerBlue; */
  height: 100%;
  width: 100%;
}

.appHeader {
  text-align: center;
}

.appBody {
  padding-top: 30px;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.appMenu {
  /* height: 10%; */
  /* One-third of the parent's width (viewport width) */
  /* width: 100%; */
  background-color: green;
  position: sticky;
  /* Color for the child div */
}

.drawerLink {
  text-decoration: none;
}

.App {
  text-align: center;
}

/* 

/* .menuComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30vh;
} */

.homeForm {
  padding-top: 10vh;
  width: 30vw;
}
#spreadSheetSnapshot {
  padding-top: 20px;
}

.aboutImg {
  width: 50px;
  vertical-align: middle;
}
.contactImg {
  width: 50px;
  vertical-align: middle;
}
.contactUl{
  padding:0;
}

.aboutLi {
  list-style: none;
  margin: 20px;
}
